<section class="no-padding mb-5 pb-5" id="portfolio" >
    <div class="container-fluid">
        <div class="row no-gutter d-flex justify-content-evenly">
            <div class="col-lg-4 col-md-6 card flex-fill mi-elemento1" (mouseenter)="onMouseEnter($event)"  (mouseleave)="onMouseEnter($event)"  >
                <a type="button" >
                    <img src="https://i.ibb.co/hyktGw1/one5h.jpg" class=" img-fluid" alt="OneLink" >
                </a>
                <div class="descripcion text-center rounded d-flex row" *ngIf="mostrar1">
                    <h4 class="mx-auto px-5 pt-5 text-center">
                        Una pequeña herramienta que te ayuda a fundar un micro sitio web donde puedes agregar todos los enlaces que quieras compartir en un solo lugar.
                    </h4>
                    <!-- <a href="https://dummy-park.web.app/login" target="_blank" class="portfolio-box align-self-end mb-5">
                        <button class="btn btn-warning mt-3 mb-4" type="button">Probar demo </button>
                    </a> -->
                </div>            
            </div>
            <div class="col-lg-4 col-md-6 card flex-fill mi-elemento2" (mouseenter)="onMouseEnter($event)"  (mouseleave)="onMouseEnter($event)"  >
                <a type="button" >
                    <img src="https://i.ibb.co/R0fgcV7/parkapp-h.jpg" class=" img-fluid" alt="ParkApp" >
                </a>
                <div class="descripcion text-center rounded d-flex row" *ngIf="mostrar2">
                    <h4 class="mx-auto px-5 pt-5 text-center">
                        Un sistema web para gestionar de manera eficiente los procesos de ingreso y salida de vehículos, datos de las cocheras, clientes, tarifas, personal y mas.
                    </h4>
                    <a href="https://dummy-park.web.app/login" target="_blank" class="portfolio-box align-self-end mb-5">
                        <button class="btn btn-warning mt-3" type="button">Probar demo </button>
                    </a>
                </div>            
            </div>
            <div class="col-lg-4 col-md-6 card flex-fill mi-elemento3" (mouseenter)="onMouseEnter($event)"  (mouseleave)="onMouseEnter($event)"  >
                <a type="button" >
                    <img src="https://i.ibb.co/xGk7NHP/ticketrech4.jpg" class=" img-fluid" alt="TicketRec" >
                </a>
                <div class="descripcion text-center rounded d-flex row" *ngIf="mostrar3">
                    <h4 class="mx-auto px-5 pt-5 text-center">
                        Un herramienta web destinada a la digitalización de tickets enfocada especificamente para la utilización de contadores, facilitando una rapida carga y gestion de datos.
                    </h4>
                    <!-- <a href="#" target="_blank" class="portfolio-box align-self-end mb-5">
                        <button class="btn btn-warning mt-3" type="button">Probar demo </button>
                    </a> -->
                </div>            
            </div>

        </div>
    </div>
</section>