section{
    padding-top: 5rem;
}

.card {
    margin:0;
    position: relative;
    max-width: 450px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    
}

/* .portfolio-box {
    position: relative;
    display: block;
    max-width: 400px; 
    margin: 0 auto;    
}

}
 */

.descripcion{    
    position: absolute;
    top: 0;
    left: 0;    
    /* background-color: white; */
   /*  padding: 10px; */
    /* z-index: 1; */
    font-size: 20px;  
    /* background-color: #F05F40;  */
    background-image: linear-gradient(
        rgba(235, 80, 8, 0.918),
        rgba(235, 80, 8, 0.918)
      );  
      /* background-color:rgb(224, 68, 68); */
    color: white;
    height: 100%;
    transition: 3s;
}

/* .portfolio-box:hover {
        opacity: .3;
        
        
    } */

a {
        text-decoration: none;
 
}
/* img:hover{
    opacity:0.1
} */
    /* color: rgba(231, 12, 12, 0.966); */


/* @media (min-width: 768px) {
    .portfolio-box-caption {
        .portfolio-box-caption-content {
            .project-category {
                font-size: 16px;
            }
            .project-name {
                font-size: 22px;
            }
        }
    }
} */