<section class="my-5" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center row d-flex justify-content-center">
                <h3 class="text-danger">Negocio Digital</h3>
                <h2 class="section-heading">Soluciones simples a problemas complejos</h2>
                <hr class="border border-danger border-3 opacity-75 my-4">
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-2">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box d-flex flex-column justify-content-center align-items-center">
                    <div class="border border-5 border-danger rounded-circle circulos d-flex flex-row justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                    </div>                    
                    <h3 class="mt-2">Objetivo</h3>
                    <p class="text-muted">Nuestro objetivo es poner todo nuestro conocimiento y experiencia a disposición de nuestros clientes para crear productos y servicios innovadores usando tecnología, ingenio y creatividad. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box d-flex flex-column justify-content-center align-items-center">
                    <div class="border border-5 border-danger rounded-circle circulos d-flex flex-row justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    <h3 class="mt-2">Apps Móviles</h3>
                    <p class="text-muted">Desarrollamos soluciones móviles en apps para Android, aplicando patrones y técnicas de diseño. Aplicaciones preparadas para smartphones, tablets y computadoras. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box d-flex flex-column justify-content-center align-items-center">
                    <div class="border border-5 border-danger rounded-circle circulos d-flex flex-row justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                        </svg>
                    </div>
                    <h3 class="mt-2">Apps Web</h3>
                    <p class="text-muted">Desarrollamos sitios Web y sitios de eCommerce, tanto para B2C, B2B, Marketplace, Crossborder, Responsive design y mucho más, preparados para crear todo lo que te imagines. </p>
                </div>
            </div>
           <!--  <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="#portfolio" class="mt-4">
            <button class="btn btn-outline-dark rounded-pill">
                Proyectos
            </button>                    
        </a>
    </div>    
</section>