<nav class="navbar navbar-expand-sm fixed-top pantallasGrandes" [ngClass]="{'scrolled': isScrolled}">
    <div class="container-fluid">
        <a class="navbar-brand page-scroll" href="#page-top">
            <img class="img-1 mt-1 img-fluid" [src]="navbarImage"
            alt=""    />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right text-end">
                <li class="nav-item">
                    <a class="nav-link " href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#contact">Contacto</a>
                </li>
            </ul>
        
        </div>
    </div>
</nav>


 <!-- NAV PARA PANTALLAS PEQUENIAS -->
<nav class="navbar navbar-expand-sm fixed-top pantallasPequenias" [ngClass]="{'scrolled': isScrolled}"  >
    <div class="container-fluid">
        <a class="navbar-brand page-scroll" href="#page-top">
            <img class="img-1 me-2 img-fluid" [src]="navbarImage"
            alt=""  />
        </a>   
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="offcanvas offcanvas-start shadow-lg" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-theme="dark">
        <div class="offcanvas-header flex-row-reverse">    
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" data-bs-dismiss="offcanvas">
                    <a class="nav-link"  (click)="desactivarOffcanvas()" href="#about">Nosotros</a>
                </li>
                <li class="nav-item" data-bs-dismiss="offcanvas">
                    <a class="nav-link" (click)="desactivarOffcanvas()" href="#services">Servicios</a>
                </li>
                <li class="nav-item" data-bs-dismiss="offcanvas">
                    <a class="nav-link" (click)="desactivarOffcanvas()" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item" data-bs-dismiss="offcanvas" >
                    <a class="nav-link" (click)="desactivarOffcanvas()" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>