img{
    width:8rem;
}

nav{
    height: 70px;
    z-index: 1;
    background-color: transparent;   
}

a{
    color:white
} 

.scrolled{
    background-color: white;
    height: 70px;
    /* Otros estilos que desees */
  }

.scrolled a{    
    color: black;
    /* Otros estilos que desees */
  }

  .scrolled a:hover{    
    color: red;
    /* Otros estilos que desees */
  }

