<section class="py-5" id="about">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Te ayudamos en lo que necesitas!</h2>
                <hr class="border border-white border-3 opacity-75">
                <p class="text-faded">En Pueblada Factory somos especialistas en el desarrollo de aplicaciones móviles, sitios web, sitios de comercio electrónico y medios de pago electrónico.  </p>
                <p class="text-faded">Nuestra experiencia nos permite recomendar el mejor camino para el éxito de tu proyecto hacia la transformación digital. De manera creativa, eficiente en costos y por sobre todo, con una alta experiencia de usuario. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>